.game-title {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #38908f, #b2ebe0);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.game-container {
    margin: auto;
    width: 50%;
    padding: 3rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

/* Left-side Game Board */
.game-board {
    background-color: #f8d6c7;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 5px 3px 5px darkgray;
}

.board-status {
    padding-bottom: 1rem;
    font-size: 18px;
}


/* Right-side Game Info */
.game-info {
    background-color: #f8d6c7;
    border-radius: 10px;
    height: 100%;
    padding: 1rem 2rem;
    box-shadow: 5px 3px 5px darkgray;
}

/* "Header" Btn */
.game-info>ol>li:first-child>button {
    background-color: #e08963;
    text-transform: uppercase;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.game-info>ol>li:first-child>button:hover {
    background-color: #38908f;
    box-shadow: 5px 3px 5px darkgray;
}

.game-info>ol>li:not(:first-child) {
    padding: 1rem 0;
}